.contenido {
  display: grid;
  grid-template-areas: "main";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-content: center;

  @include respond-to("large") {
    grid-template-areas: "main" "listado";
    grid-template-columns: 78% 1fr;
  }
}

//----------- lado izquierdo pagina -------------

.main {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  &__noticia {
    width: 100%;
    align-items: center;
    box-sizing: content-box;
    margin: 5px;
    cursor: pointer;
  }
  &__noticia--cuerpo img {
    width: 90%;
    height: auto;
  }
  &__noticia--cuerpo p {
    padding: 5px 10px;
  }

  @include respond-to("large") {
    //comportamiento tablet
    &__noticia {
      width: 47%;
    }
  }
  @include respond-to("huge") {
    //comportamiento desktop
    &__noticia {
      width: 32%;
    }
  }
}
// ----------- lado derecho pagina -------------

.listado {
  display: none;
  @include respond-to("large") {
    display: block;
    float: right;
    width: 90%;
    &__cabecera {
      border-bottom: 1px solid gray;
    }
    &__tags {
      border-bottom: 1px solid gray;
    }
    &__tags ul {
      display: flex;
      justify-content: center;
      padding: 0;
      list-style: none;
    }
    &__tags ul li {
      padding: 2px 4px;
      background-color: steelblue;
      margin-right: 1px;
      color: white;
    }
    &__noticias-destacadas {
      text-align: center;
      margin-bottom: 50px;
    }
    &__noticias-destacadas img {
      width: 90%;
    }
    // &__noticias-item {
    //   width: 90%;
    // }
  }
}
