//base mobile
.contenedor {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-areas: "navbar" "contenido" "newsletter" "footer";
  grid-template-rows: 1fr 12fr 12fr 2fr;
  grid-template-columns: 1fr;
}
.navbar {
  grid-area: navbar;
}
.section_img {
  grid-area: contenido;
}
.article {
  grid-area: newsletter;
}
.footer {
  grid-area: footer;
}

// no se aplican - rehacer
@include respond-to("medium") {
  // .contenedor {
  //   grid-template-areas: "navbar navbar" "newsletter contenido" "footer contenido";
  //   grid-template-rows: 1fr 5fr 1fr 1fr;
  //   grid-template-columns: 8fr 1fr;
  //   position: relative;
  // }
}

@include respond-to("large") {
  // .contenedor {
  //   grid-template-areas: "navbar" "contenido" "newsletter" "footer";
  //   grid-template-rows: 1fr 2fr 1fr 1fr;
  //   grid-template-columns: 8fr 1fr;
  //   position: relative;
  // }
}
