.navbar {
  /* width: 100%; */
  padding: 10px;
  border-bottom: 1px solid gray;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

.nav {
  display: inline-block;
  /* width: 840px; */
  text-align: right;
}

.nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

.input-navbar {
  border-radius: 30px;
}
