.navbar {
  width: 100%;
  padding: 1em 2em;
  border-bottom: 1px solid gray;
  display: inline-block;

  &__logo {
    float: left;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0.25em;
  }

  &__nav {
    // display: inline-block;
    float: right;
    text-align: right;
  }

  &__nav ul {
    list-style-type: none;
    display: flex;
  }

  &__nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 1em;
  }

  &__input {
    border-radius: 30px;
  }

  &__item-hide {
    display: none;
  }

  @include respond-to("medium") {
    &__item-hide {
      display: block;
    }
  }
}
