.newsletter {
  // width: 960px;
  background-color: #f2f4f5;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.newsletter h2 {
  font-size: 24px
}

.newsletter__group input,
.newsletter__group button {
  // display: inline-block;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;

}

.newsletter__group button {
  background-color: coral;
  color: white;
}